.container {
  position: relative;
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  align-self: center;
  padding: 5px;
}

.password {
  align-self: center;
  padding: 5px;
}

.loginButton {
  align-self: center;
  padding: 5px;
}

.inputLogin {
  width: 350px;
}

.checkbox {
  display: flex;
  align-self: center;
  font-size: 13px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(5px);
}

.login-box {
  padding-top: 40px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #e4e5e8bb;
  justify-content: center;
  border-radius: 4px;
}

.signup {
  display: flex;
  justify-content: center;
}

a {
  color: #3d5afe;
}

.inputsFormCreateAccount-1 {
  display: flex;
  align-items: flex-end;
}

.inputsFormCreateAccount-2 {
  display: flex;
  padding: 8px;
}

.inputsFormCreateAccount-3 {
  display: flex;
}

.inputsFormCreateAccount-4 {
  display: flex;
}

/* .nomeForm {
  width: 150px;
  margin-right: 30px;
} */

/* .sobrenomeForm {
  margin-left: 30px;
  width: 150px;
} */

/* .emailForm {
  width: 150px;
  margin-right: 30px;
} */

/* .passwordForm {
  width: 150px;
  margin-left: 30px;
} */

#emailUser {
  margin-right: 30px;
}

#nome {
  margin-right: 10px;
}
